on:
  workflow_call:
    secrets:
      plugin-portal-key:
        required: true
      plugin-portal-secret:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0

      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Run gradle build
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.plugin-portal-key }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.plugin-portal-secret }}
        run: ./gradlew publishPlugins
